.coverImage img {
  width: 100%;
  max-width: 40rem;
  min-height: 20rem;
  margin: 0 auto;
  border: 2px solid var(--green);
  border-radius: 5rem;
  margin-top: -10rem;
  -webkit-box-shadow: -8px 6px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 6px 40px -12px rgba(0, 0, 0, 0.75);
}

.placeholder {
  filter: blur(5px);
  min-height: 20rem;
}
